body {
	text-align: justify;
}

header {
	margin-top: 70px;
}

.img_padrao {
	margin-bottom: 20px;
	width: 300px;
	height: 300px;
}

.img_parceiros {
	height: 150px;
	object-fit: cover;
}
.img_logo {
	margin-bottom: 0px;
	width: 30px;
}

h1,
h2 {
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.servicos {
	background-color: aquamarine;
}
.margin {
	padding-bottom: 50px;
	margin-top: 10px;
}

.parceiros,
.contato {
	background-color: aquamarine;
}
.logo {
	height: 90px;
	vertical-align: middle;
}

.bg-footer {
	background-color: darkslategrey;
	color: lightcyan;
	padding: 50px;
}
